registry=https://pkgs.dev.azure.com/adrianadamiaksolutions/_packaging/adrianadamiaksolutions/npm/registry/

always-auth=true


; begin auth token
//pkgs.dev.azure.com/adrianadamiaksolutions/_packaging/adrianadamiaksolutions/npm/registry/:username=adrianadamiaksolutions
//pkgs.dev.azure.com/adrianadamiaksolutions/_packaging/adrianadamiaksolutions/npm/registry/:_password=[Z2wzbnQzNmw3eW8zajR1N2Vtbjc3dTcyaWtzc291ZWV6YmpjNXN1bHJiNHZpYnY0amZrYQ==]
//pkgs.dev.azure.com/adrianadamiaksolutions/_packaging/adrianadamiaksolutions/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/adrianadamiaksolutions/_packaging/adrianadamiaksolutions/npm/:username=adrianadamiaksolutions
//pkgs.dev.azure.com/adrianadamiaksolutions/_packaging/adrianadamiaksolutions/npm/:_password=[Z2wzbnQzNmw3eW8zajR1N2Vtbjc3dTcyaWtzc291ZWV6YmpjNXN1bHJiNHZpYnY0amZrYQ==]
//pkgs.dev.azure.com/adrianadamiaksolutions/_packaging/adrianadamiaksolutions/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
